params {
    genome_dir = "/projects/alterevo/00.GROR/genome_data"
    script_dir = "/home/genouest/inra_umr1349/ichninak/01-GAGA/04_Gene_re-annotation/01-Chemosensory_gene_families/scripts"
    db_chemo = "/home/genouest/inra_umr1349/ichninak/01-GAGA/04_Gene_re-annotation/01-Chemosensory_gene_families/db_chemo"
    db2GR = "/home/genouest/inra_umr1349/ichninak/01-GAGA/04_Gene_re-annotation/01-Chemosensory_gene_families/db2GR"
    dbOR = "/home/genouest/inra_umr1349/ichninak/01-GAGA/04_Gene_re-annotation/01-Chemosensory_gene_families/dbOR"
    out_base = "./results"
    threads = 50
    threads2 = 20

    // Execution flags: override via CLI --GR true or --OR true
    GR = false
    OR = false
}

profiles {
    slurm {
        process {
            executor = 'slurm'            // use sbatch under the hood
            queue    = 'standard'         // Revenir à 'standard' qui existe sur votre cluster
            cpus     = 50                 // CPUs par task (sera écrasé par les process individuels)
            memory   = '20 GB'            // default RAM per task
            time     = '24h'              // default wall-time
            // optional: pass extra sbatch flags to every task
            clusterOptions = '--export=ALL'
            
            // Gestion des erreurs
            errorStrategy = 'retry'
            maxRetries = 2
            scratch = true
        }
    }
}