params {
    genome_dir = "/projects/alterevo/00.GROR/genome_data"
    script_dir = "/home/genouest/inra_umr1349/ichninak/01-GAGA/04_Gene_re-annotation/01-Chemosensory_gene_families/scripts"
    db_chemo = "/home/genouest/inra_umr1349/ichninak/01-GAGA/04_Gene_re-annotation/01-Chemosensory_gene_families/db_chemo"
    db2GR = "${params.db_chemo}/db2GR"
    dbOR = "${params.db_chemo}/dbOR"
    out_base = "./results"
    threads = 50
    threads2 = 20

    // Execution flags: override via CLI --GR true or --OR true
    GR = false
    GR2 = false
    GR3 = false
    OR = false
}
